# Default ignored files
/../../4. Median of two sorted arrays./.idea/shelf/
/../../4. Median of two sorted arrays./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../4. Median of two sorted arrays./.idea/httpRequests/
# Datasource local storage ignored files
/../../4. Median of two sorted arrays./.idea/dataSources/
/../../4. Median of two sorted arrays./.idea/dataSources.local.xml
